@model Kitap

<form method="post">

    <div class="border p-3 mt-5">
        <h2 class="text-primary"> Kitap  Güncelle</h2>
        </hr>
    </div>
    <div class=" mb-3">
        <label asp-for="KitapAdi" p-0"></label>
        <input asp-for="KitapAdi" class="form-control" />
        <span asp-validation-for="KitapAdi" class="text-danger"></span>   @*burada hata mesajı verdik*@
    </div>
    <div class=" mb-3">
        <label asp-for="Tanim"></label>
        <input asp-for="Tanim" class="form-control" />
        <span asp-validation-for="Tanim" class="text-danger"></span>   @*burada hata mesajı verdik*@
    </div>
    <div class=" mb-3">
        <label asp-for="Yazar"></label>
        <input asp-for="Yazar" class="form-control" />
        <span asp-validation-for="Yazar" class="text-danger"></span>   @*burada hata mesajı verdik*@
    </div>
    <div class=" mb-3">
        <label asp-for="Fiyat" p-0"></label>
        <input asp-for="Fiyat" class="form-control" />
        <span asp-validation-for="Fiyat" class="text-danger"></span>   @*burada hata mesajı verdik*@
    </div>
    <div>
    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kitap Güncelle</button>
    <a asp-controller="Kitap" asp-action="index" class="btn btn-lg btn-primary" style="width:250px">
        Kitaplara Geri Dön
    </a>
    </div>


</form>

